.compl-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.compl-goods-container {
  @include flex1170;

  justify-content: space-between;
  position: relative;
}

.compl-goods {
  @include resetMarginPadding;
  width: 100%;
}

.card-container {
  position: relative;
}

.slider-popular__button {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}

.slider-popular__control-back {
  display: block;
  position: absolute;
  top: 0px;
  left: -72px;
  transform: rotate(-180deg);
}

.slider-popular__control-forward {
  top: 0px;
  right: -72px;
}

.no-more-link {
  display: none;
}

.tab--right-aligned {
  margin-left: auto;
}
.asa {
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .popular-goods-container {
    width: 100%;
  }

  .slider-popular__button {
    display: none;
  }

  .slider-popular__control-back,
  .slider-popular__control-forward {
    display: none;
  }
}

@media (width: 768px) {
  .tab--right-aligned {
    margin-left: 0px;
  }
}
