.complementary-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.complementary-goods-container {
  @include flex1170;
  justify-content: space-between;
  position: relative;
}

.complementary-goods {
  @include resetMarginPadding;
  width: 100%;

  &--title-without-link-right {
    width: 500px;
  }
}

.card-container {
  position: relative;
}

.slider-popular__button {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}

.slider-popular__control-back {
  display: block;
  position: absolute;
  top: 0px;
  left: -72px;
  transform: rotate(-180deg);
}

.slider-popular__control-forward {
  top: 0px;
  right: -72px;
}
