// ! Slider
.top-promo-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.promo-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 1170px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.slider {
  @include flex1170;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 870px;
  height: 397px;
  position: relative;

  &__list {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
  }

  &__img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  &__text-container {
    position: absolute;
    width: 330px;
    top: 100px;
    left: 100px;
  }

  &__title {
    color: white;
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: white;
    font-weight: normal;
    text-transform: none;
    font-size: 20 px;
    opacity: 0.64;
    line-height: 10px;
  }
}

.slider-pagination {
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;

  height: 24px;
  background-color: rgba($grey100, $controlOpacityBg);
  border-radius: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;

  bottom: 24px;
  padding-right: 6px;
  padding-left: 6px;

  &__item {
    padding-left: 4px;
    padding-right: 4px;
  }

  &__link {
    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border: 1px solid white;
      margin: 7px 0 8px;
      border-radius: 100px;
    }
  }
}

.slide-pagination__item--active .slider-pagination__link::before {
  background-color: white;
}

.slider__button {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}

.slider__control-back {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-180deg);
}

.slider__control-forward {
  top: 0px;
  right: 0px;
}
// ! Slider ended

// ! Goods of day
.super-offer {
  @include resetMarginPadding;
  width: 270px;
  border: 1px solid $grey25;
  position: relative;
}

.offer-comprasion {
  @include resetMarginPadding;
  position: absolute;
  right: 16px;
  top: 16px;
  @include resetMarginPadding;
  text-align: center;

  &__new-price {
    @include resetMarginPadding;
    color: $orangeB;
    font-weight: bold;
    font-size: 24px;
  }

  &__old-price {
    @include resetMarginPadding;
    font-size: 16px;
    font-weight: normal;
    color: $grey75;

    &::after {
      content: "";
      position: absolute;
      top: 34px;
      left: 5px;
      display: block;
      background-color: $orangeB;
      width: 50px;
      height: 2px;
      transform: rotate(-12deg);
    }
  }
}

.supper-offer-link {
  @include textLinkReset;

  &::before {
    content: "Акция";
    transform: rotate(-90deg);
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    top: 22px;
    left: -25px;
    letter-spacing: 2px;
    display: block;
    width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    height: 24px;
    background: linear-gradient(91.1deg, #9710e9 1.17%, #fd8d43 99.31%);
  }
}

.offer-demonstration {
  @include resetMarginPadding;

  display: flex;
  height: 300px;
  flex-wrap: wrap;

  justify-content: center;
  align-items: flex-end;
  padding: 16px;
  box-sizing: border-box;

  &__img {
    @include resetMarginPadding;
    width: 150px;
  }

  &__title {
    @include resetMarginPadding;
    text-align: center;
    line-height: 18px;
    font-weight: normal;
    font-size: 14px;
  }
}

.offer-action {
  @include resetMarginPadding;
  background-color: $grey0;
  border-top: 1px solid $grey25;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  &__count-down-title {
    @include resetMarginPadding;
    width: 100%;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 8px;
    text-align: center;
  }

  &__countdown {
    @include resetMarginPadding;
    border-collapse: collapse;
    margin-bottom: 14px;

    &::before {
      content: "";
      background-image: url("/img/iconsprite/icons.svg#_timer");
      position: absolute;
      bottom: 16px;
      display: block;
      width: 32px;
      height: 32px;
    }
  }

  &__countdown-tr {
    @include resetMarginPadding;
  }

  &__mins-digits::before {
    content: ":";
    position: absolute;
    bottom: 27px;
    left: 126px;
    color: $grey75;
  }

  &__mins-digits::after {
    content: ":";
    position: absolute;
    bottom: 27px;
    left: 176px;
    color: $grey75;
  }

  &__hours-digits,
  &__mins-digits,
  &__seconds-digits {
    @include resetMarginPadding;
    font-size: 24px;
    font-weight: bold;
    padding-right: 24px;
  }

  &__hours-text,
  &__mins-text,
  &__seconds-text {
    font-size: 11px;
    line-height: 12px;
    color: $grey75;
    @include resetMarginPadding;
  }

  &__hours-digits,
  &__hours-text {
    padding-left: 48px;
  }

  &__seconds-digits,
  &__seconds-text {
    padding-right: 0px;
  }
}
