// ! Slider
.top-promo-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.promo-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 1170px;
  display: flex;
  margin: auto;

  justify-content: space-between;
}
.slider {
  @include flex1170;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 870px;
  height: 397px;
  justify-content: space-between;
  position: relative;

  &__list {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
  }

  &__img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  &__text-container {
    position: absolute;
    width: 330px;
    top: 100px;
    left: 100px;
  }

  &__title {
    color: white;
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: white;
    font-weight: normal;
    text-transform: none;
    font-size: 20 px;
    opacity: 0.64;
    line-height: 10px;
  }
}

.slider-pagination {
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;

  height: 24px;
  background-color: rgba($grey100, $controlOpacityBg);
  border-radius: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;

  bottom: 24px;
  padding-right: 6px;
  padding-left: 6px;

  &__item {
    padding-left: 4px;
    padding-right: 4px;
  }

  &__link {
    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border: 1px solid white;
      margin: 7px 0 8px;
      border-radius: 100px;
    }
  }
}

.slide-pagination__item--active .slider-pagination__link::before {
  background-color: white;
}

.slider__button {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}

.slider__control-back {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-180deg);
}

.slider__control-forward {
  top: 0px;
  right: 0px;
}
// ! Slider ended

// ! Goods of the day
.super-offer {
  width: 270px;
  background-color: $grey25;
}
