.popular-container {
  margin-top: $marginSectionDesk;
  margin-bottom: $marginSectionDesk;
}

.popular-goods-container {
  @include flex1170;
  justify-content: space-between;
  position: relative;
}

.popular-goods {
  @include resetMarginPadding;
  width: 100%;
}

.card-container {
  position: relative;
}

.slider-popular__button {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}

.slider-popular__control-back {
  display: block;
  position: absolute;
  top: 0px;
  left: -72px;
  transform: rotate(-180deg);
}

.slider-popular__control-forward {
  top: 0px;
  right: -72px;
}

@media (max-width: 768px) {
  .popular-container {
    margin-top: $marginSectionMob;
    margin-bottom: $marginSectionMob;
  }

  .popular-goods-container {
    width: 100%;
  }

  .slider-popular__button {
    display: none;
  }

  .slider-popular__control-back,
  .slider-popular__control-forward {
    display: none;
  }
}
