.nav-menu-container {
  margin-bottom: 80px;
}
.nav-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  @include flex1170;
  flex-wrap: wrap;
}

.bobs-burger-menu {
  display: none;
}

.fav-menu {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  width: 474px;
  align-items: center;
  padding-left: 12px;

  &__item {
    margin-right: 32px;
  }

  &__link {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    text-decoration: none;
    font-weight: bold;

    color: $grey100;
    font-weight: bold;
    display: block;
    line-height: 32px;
  }
}

.store-logo {
  display: flex;
  width: 211px;
  justify-content: center;
  align-items: center;
  min-height: 96px;

  &__img {
    height: 56px;
  }
}

.nav-address {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  width: 310px;
  align-items: center;
  line-height: 20px;

  &__link {
    padding-left: 16px;
    font-size: 14px;
    text-decoration: none;
    color: $grey100;
  }
}

.service-menu {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  width: 163px;
  align-items: center;
  justify-content: flex-end;

  &__item {
    margin-left: 8px;
  }

  &__link {
    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
}

.nav-menu {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  min-height: 48px;
  align-items: center;
  border-top: 1px solid $grey25;
  border-bottom: 1px solid $grey25;

  &__item {
    padding-right: 12px;
    padding-left: 12px;
    position: relative;
  }

  &__link {
    @include textLinkReset;
    display: block;
    line-height: 40px;
  }

  &__item--active {
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0px;
      bottom: -5px;

      width: 100%;

      height: 4px;
      background-color: $orangeB;
    }
  }

  & &__item--active {
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .nav-menu-container {
    margin-bottom: 0px;
  }

  .nav-container {
    max-width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .bobs-burger-menu {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    align-self: center;
    margin-right: 8px;
    margin-left: 8px;
  }

  .fav-menu {
    display: none;
  }

  .store-logo {
    width: auto;
    min-height: 72px;
    margin-left: 16px;

    &__img {
      height: 40px;
    }
  }

  .nav-address {
    display: none;
  }

  .service-menu {
    margin-right: 0px;
    width: auto;
    margin-left: auto;

    &__item {
      margin-left: 4px;
    }
  }

  .nav-menu {
    overflow: auto;
    white-space: nowrap;
    min-height: 56px;

    border-bottom: non;
    &__item--active {
      &::after {
        content: "";
        bottom: -8px;
      }
    }
  }
}
