.index-body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  @include fontBody;
}

a:hover,
input:hover,
button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $orangeB;
}

.cta-button {
  @include resetMarginPadding;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: $orangeB;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  border-radius: 4px;
}

// ! Back-forward btn slider
// ! Position added in specific files for each slider
.back-forward-btn {
  border: 0px;
  height: 100%;
  background: none;
  width: 64px;

  &:after {
    content: "";
    background-color: rgba($grey100, $controlOpacityBg);
    background-image: url("/img/global/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;

    position: absolute;
    left: 50%;
    margin-left: -20px;

    top: 50%;
    margin-top: -20px;
  }

  &:hover {
    background-color: rgba($grey100, $controlOpacityBg);
  }

  &:hover::after {
    background-color: rgba($grey100, $controlOpacityControlOnBg);
  }
}

// ! Visually-hidden
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
