.index-body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  @include fontBody;
}

a:hover,
input:hover,
button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $orangeB;
}

.cta-button {
  @include resetMarginPadding;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: $orangeB;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: $borderRadiusElement;
}

// ! sprite icon default
.icon-sprite {
  fill: $grey50;
}

// ! Back-forward btn slider
// ! Position added in specific files for each slider
.back-forward-btn {
  border: 0px;
  height: 100%;
  background: none;
  width: 64px;

  &:after {
    content: "";
    background-color: rgba($grey100, $controlOpacityBg);
    background-image: url("../img/global/sliderArrow/arrowRight--white.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;

    position: absolute;
    left: 50%;
    margin-left: -20px;

    top: 50%;
    margin-top: -20px;
  }

  &:hover {
    background-color: rgba($grey100, $controlOpacityBg);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:hover::after {
    background-color: rgba($grey100, $controlOpacityControlOnBg);
  }
}

// ! mod for slider in the middle of the page
.back-forward-btn--slider-goods {
  &:after {
    content: "";
    background-color: $grey0;
    background-image: url("../img/global/sliderArrow/arrowRight--dark.svg");
  }

  &:hover {
    border-radius: $borderRadiusBlock;
  }

  &:hover::after {
    background-color: rgba($grey50, $controlOpacityControlOnBg);
  }
}

//! slider tabs and slider
.tab {
  list-style: none;
  display: flex;
  @include resetMarginPadding;
  padding-bottom: 12px;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid $grey25;

  &__item {
    padding-left: 8px;
    padding-right: 16px;

    &:nth-child(1) {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;
      text-align: right;
    }

    &--link {
      margin-left: auto;
    }
  }

  &__link {
    @include textLinkReset;
    display: block;
    line-height: 32px;
    position: relative;
  }

  &__link--active {
    font-weight: bold;
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0px;
      bottom: -13px;

      width: 100%;

      height: 4px;
      background-color: $orangeB;
    }
  }

  &__title {
    @include resetMarginPadding;
    margin-bottom: 0px;
    width: 320px;
  }
}

.card {
  display: flex;
  list-style: none;
  @include resetMarginPadding;
  margin-top: 32px;
  justify-content: space-between;

  &__item {
    width: 270px;
    border: 1px solid $grey25;
    border-radius: $borderRadiusBlock;
    position: relative;

    &--sale::after {
      content: "Акция";
      transform: rotate(-90deg);
      position: absolute;
      font-size: 12px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      top: 23px;
      left: -25px;
      letter-spacing: 2px;
      display: block;
      width: auto;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 12px;
      padding-right: 12px;
      height: 24px;
      background: $gradientBrand;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }

  &__img-container {
    display: flex;
    width: 270px;
    justify-content: center;
    align-items: flex-end;
    height: 240px;
  }

  &__img {
    display: block;
    @include resetMarginPadding;
  }

  &__title-container {
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 8px;
  }

  &__link {
    @include textLinkReset;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
  }

  &__price {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
  }

  &__price--out {
    color: $grey50;
  }

  &__btn-container {
    @include resetMarginPadding;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    background: $orangeB;
    border: 1px solid $orangeB;

    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;

    @include textLinkReset;
  }

  &__notify-me {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__favourite {
    position: absolute;
    top: 8px;
    right: 8px;
    @include resetMarginPadding;
    display: flex;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    justify-content: center;
    align-items: center;
  }
}

// ! Visually-hidden
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
