@mixin flex1170 {
  display: flex;
  width: 1170px;
  margin: auto;
}

@mixin textLinkReset {
  text-decoration: none;
  color: $grey100;
}

@mixin fontBody {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: $grey100;
}

$grey100: #323336;
$grey75: #656464;
$grey50: #a8a8a8;
$grey25: #cdcdcd;
$grey0: #f0f0f4;

$orangeB: #ff7931;
