@mixin flex1170 {
  display: flex;
  width: 1170px;
  margin: auto;
}

@mixin textLinkReset {
  color: $grey100;
  text-decoration: none;
}

@mixin fontBody {
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: $grey100;
}

@mixin resetMarginPadding {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

$grey100: #323336;
$grey75: #656464;
$grey50: #a8a8a8;
$grey25: #cdcdcd;
$grey0: #f0f0f4;

$orangeB: #fd823f;

$controlOpacityFullOVerlay: 0.64;
$controlOpacityBg: 0.16;
$controlOpacityControlOnBg: 0.4;
